<h4 class="header center orange-text">Need a little inspiration?</h4>
<div class="row">
    <div class="input-field offset-s4 col s4">
       <select>
         <option value="" disabled selected>Choose a category to get started</option>
         <option value="business">Business</option>
         <option value="product">Product</option>
       </select>
       <button class="btn waves-effect waves-light" type="submit" name="action">Go
         <i class="material-icons right">send</i>
        </button>
   </div>
   <div class="col s4">
   </div>
</div>

<table class="highlight centered">
   <thead>
     <tr>
       <th>Idea</th>
       <th>Get feedback from followers</th>
       <th>Source 1</th>
       <th>Source 2</th>
       <th>Trash it</th>
     </tr>
   </thead>

   <tbody>
     <tr>
       <td>Life Force</td>
       <td><a class="waves-effect waves-light btn">Tweet it</a></td>
       <td>http://bit.ly/12as</td>
       <td>http://bit.ly/12as</td>
       <td><a class="material-icons">delete</a></td>
     </tr>
     <tr>
       <td>Water inner city</td>
       <td><a class="waves-effect waves-light btn">Tweet it</a></td>
       <td>http://bit.ly/12as</td>
       <td>http://bit.ly/12as</td>
       <td><a class="material-icons">delete</a></td>
     </tr>
     <tr>
       <td>lazer beams</td>
       <td><a class="waves-effect waves-light btn">Tweet it</a></td>
       <td>http://bit.ly/12as</td>
       <td>http://bit.ly/12as</td>
       <td><a class="material-icons">delete</a></td>
     </tr>
   </tbody>
 </table>
