@import "materialize/components/color";
$primary-color: #e2643a;
@import "materialize";
@import "style";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$duckett-blue: #00aeef;
$duckett-gray: #bbb3af;

$lofi-pink: #e5656e;
$lofi-blue: #72bfe3;

body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  background-color: $duckett-blue;
}

.footer {
  background-color: $duckett-gray;
}

#dashboard-body {
  background: image-url("venn_basic.png") no-repeat center;
  max-height: 600px;
}

.dashboard-card-vertical {
  margin-top: 10em;
}

#dashboard-combined {
  background-color: rgba(255, 255, 255, 0.5);
}

.dashboard-possibility-button {
  margin-bottom: 0.5em;
}

.responsive_headline {
  width: 100px;
  height: 50px;
}
