<footer class="page-footer footer">
  <div class="footer-copyright">
    <div class="container center">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">JPHoenix</a>
    </div>
  </div>
</footer>
