<nav class="nav" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Iderator</a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login with Twitter", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
